*{
    font-family: "Comic Sans MS", cursive;
}

h1 {
    text-align: center;
    color: red;
    background-color: blue;
    padding-bottom: 2%;
}

h1:hover {
    background-color: pink;
}

body {
    color: blue;
    background-color: blue;
}

#main {
    margin: 10px;
    padding-top: 50px;
    background-color: yellow;
    display: block;
    text-align: center;
}

footer {
    font-family: "Comic Sans MS", sans-serif;
    font-style: italic;
    font-size: 2em;
    color: green;
}

#main .desc{
    font-size: 50px;
}

.input_box{
    width: 50%;
    height: 20%;
    color: blue;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 3em;
}
#images {
  float: left;
}
/*uh*/
@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.waitingForConnection {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

p:hover {
  background-color: black;
}

#loadingBackground{
    width: 100%;
    height: 100%;
    background:  linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:1;
    opacity: 0.5;
}

#loadingTrollFaceScreen{
    position: fixed;
    left: calc(50% - 415px);
    top: calc(39% - 188px);
    z-index:2;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    align-items: center;
}

#loadingTrollFaceScreen div{
    font-size: 200px;
    text-align: center;
}

.downloadedImageCont{
    padding-top: 20px;
    padding-bottom: 20px;
}

form{
    display: inline;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes zoom {
    from{
        font-size:100%;
    }
    to{
        font-size: 0%
    }
}

@keyframes bg{
    from{
        background-color: red
    }
    to{
        background-color: green;
    }
}

@keyframes invert {
    from{
        -webkit-filter: invert(0%);
    }
    50%{
        -webkit-filter: invert(100%);
    }
    to{
        -webkit-filter: invert(0%);
    }
}

@keyframes blur {
    from{
        -webkit-filter: blur(0px);
    }
    50%{
        -webkit-filter: blur(20px);
    }
    to{
        -webkit-filter: blur(0px);
    }
}

@keyframes rainbow{
    0%{
        color: inherit;
    }
    10%{
        color: purple;
    }
    20%{
        color: pink;
    }
    30%{
        color: red;
    }
    40%{
        color: orange;
    }
    50%{
        color: yellow;
    }
    60%{
        color: green;
    }
    70%{
        color: cyan;
    }
}

